* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
}
body {
  display: flex;
  flex-direction: column;

  height: 100dvh;
  width: 100dvw;

  justify-content: center;
  align-items: center;
  text-align: center;

  background: #bbe4b9;
  background: linear-gradient(
    180deg,
    rgba(187, 228, 185, 1) 0%,
    rgba(160, 218, 158, 1) 46%,
    rgba(194, 216, 193, 1) 73%,
    rgba(194, 219, 193, 1) 100%
  );
}
h1 {
  color: #004516;
  border: #058a0078;

  align-self: center;
  text-transform: capitalize;
  padding-bottom: 3px;
}
#container {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-between;

  gap: 10px;

  height: 80dvh;
  width: 95dvw;
}
@media (min-width: 768px) {
  h1 {
    padding-bottom: 20px;
  }
}
